{# footer #}

<footer class="site-footer" role="contentinfo">
  <div class="container">
    <section class="contact-section">
      <div class="content-panel">
        <div class="content-panel-content">
          <h2>Let us help you make your content</h2>
          <div class="button-container">
            <a href="#" class="button cta-button solid-button">Take an Action</a>
          </div>
        </div>
        <div class="content-panel-image">
          <img src="https://via.placeholder.com/400x500">
        </div>
    </section>
    <section class="site-info">
      <a href="/" class="brand">The Blog Machine</a>
      <nav class="footer-nav">
        <ul class="site-nav-items">
          <li><a href="/copywriting">Copywriting</a></li>
          <li><a href="/featured-writer">Featured Writer</a></li>
          <li><a href="/case-studies">Copywriting</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <p class="site-boilerplate">&copy; 2023</p>
    </section>
  </div>
</footer>