{# header #}

<header class="site-header" role="banner">
  <div class="container">
    <a href="/" class="brand">Blog Machine</a>
    <nav class="site-nav" role="navigation">
      <button class="site-nav-toggle" aria-label="Site Navigation">
        <svg viewBox="0 0 100 100">
          <g class="svg-menu-toggle">
            <path class="line line-1" d="M5 13h90v14H5z"></path>
            <path class="line line-2" d="M5 43h90v14H5z"></path>
            <path class="line line-3" d="M5 73h90v14H5z"></path>
          </g>
        </svg>
      </button>
      <ul class="site-nav-items">
        <li><a href="/copywriting" id="first-nav-item">Copywriting</a></li>
        <li><a href="/featured-writer">Featured Writer</a></li>
        <li><a href="/case-studies">Case Studies</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>