.page-header{
  background: url(/assets/img/space-header-page.jpg) no-repeat center center;
  background-size: cover;
  min-height: 75vh;
  padding-top: 6rem;

  .container{
    @include grid-layout();
    padding-bottom: 1rem;
  }

  h1{
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: var(--light-blue);
    font-size: 3.5rem;
  }

  p{
    padding-bottom: 2rem;
    color: var(--white);
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.page-header-content{
  @include grid-columns(12);
  padding-top: 2rem;

  @media (#{$bp-gt-md}){
    @include grid-columns(7);
    padding-top: 0;
  }

  @media (#{$bp-gt-lg}){
    padding-top: 2rem;
  }
}

.page-header-image{
  display: none;

  @media (#{$bp-gt-md}){
    @include grid-columns(5);
    display: block;
    text-align: right;
  }
}

.section-title{
  display: block;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: var(--white);

  a{
    text-decoration: none;
    color: inherit;

    &:hover{
      opacity: .7;
    }
  }
}

.content-section{

  @media (#{$bp-gt-md}){
    max-width: 80%;
    margin: auto;
  }

  @media (#{$bp-gt-lg}){
    max-width: 60%;
  }
}

.user-content-section{

  h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
  }

  ul, ol{
    padding-left: 1rem;
  }

  figure{
    margin: 2rem 0 1rem;
    padding: 1rem 0;

    &:first-child{
      margin-top: 0;
      padding-top: 0;
    }

    figcaption{
      padding-left: .5rem;
      font-size: .875rem;
      font-style: italic;
    }
  }
}

.user-content-block{
  clear: both;

  img{
    float: right;
    margin: 1rem 0 1rem 1rem;
  }
}

