---
title: "Contact"
layout: page.njk
page_description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ex eros, efficitur nec iaculis in, gravida sed tortor."
---

<section class="content-section form-section">
  <form class="site-form">
    <div class="form-control-group">
      <div class="form-control">
        <label>First Name</label>
        <input type="text">
      </div>
      <div class="form-control">
        <label>First Name</label>
        <input type="text">
      </div>
    </div>
    <div class="form-control">
      <label>Email</label>
      <input type="text">
    </div>
    <div class="form-control">
      <label>Message</label>
      <textarea rows="8"></textarea>
    </div>
    <div class="button-container">
      <button class="button">Submit</button>
    </div>
  </form>
</section>