---
title: "Featured Writer"
layout: page.njk
page_description: "Hi there! If you’re looking for bylined work, allow me to introduce you to one of my experienced team members. Jennifer is an excellent copywriter and editor, and I’m confident that your creative needs will be in good hands! She has produced content for a number of clients over the years, and we are delighted to share some of her work here."
page_img: "https://64.media.tumblr.com/5d54c199c4f05a66194f21199f49214e/tumblr_inline_rmbvf9iE3X1uxlg8v_500.jpg"
---

<section class="content-section user-content-section">
  <div class="user-content-block">
    <img src="https://64.media.tumblr.com/31e86bc06b790274d9f62b2501ab1aa1/tumblr_inline_ro0zriAQM91uxlg8v_500.png">
    <h2>Bright Hope</h2>
    <ul>
      <li>Support Bright Hope International through AmazonSmile</li>
      <li>The JOEL Program Supports Student Education in Bolivia</li>
    </ul>
  </div>
  <div class="user-content-block">
    <img src="https://64.media.tumblr.com/dd305dd4141902b868e15d20e7008050/tumblr_inline_ro0zrsoH4p1uxlg8v_500.png">
    <h2>Nik Ripken Ministries</h2>
    <ul>
      <li>Child of the Somali Famine</li>
      <li>Persecution of Christians in the Soviet Union.</li>
      <li>Dmitri’s Story</li>
      <li>Your Pastor is Dead</li>
    </ul>
  </div>
</section>