---
title: 'Home'
layout: base.njk
---

<section class="hero-section">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <p>Serving the people of the world with content</p>
        <div class="button-container">
          <a href="#" class="button cta-button">Take an Action</a>
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/img/robot-doing-peace-sign_thumbnail-removebg-preview.png">
      </div>
    </div>
  </div>
</section>

<section class="homepage-section about-section">
  <div class="container">
    <div class="content-panel about-panel">
      <div class="content-panel-image">
        <img src="https://via.placeholder.com/200x200">
      </div>
      <div class="content-panel-content">
        <h2>Meet Jennifer and Mach</h2>
        <p>We’re here to serve the world by helping people communicate through the written word, and there’s nothing more gratifying than being able to do something meaningful with our talents. We deliver both bylined blog posts and unbylined copywriting.</p>
        <div class="button-container">
          <a href="#" class="button cta-button">Take an Action</a>
        </div>
      </div>
    </div>
    <div class="content-panel topics-panel">
      <div class="content-panel-title">
        <img src="/assets/img/robot-sitting-back-relaxing-removebg-preview.png">
        <h2>Topics we love to cover</h2>
      </div>
      <div class="content-panel-content">
        <ul class="topics">
          <li>Business, Sales, and Marketing</li>
          <li>Consumer Products</li>
          <li>Design & Architecture</li>
          <li>Education</li>
          <li>Finance, Investing, and Economics</li>
          <li>Food and Beverage</li>
          <li>Government & Non-Profits</li>
          <li>Business, Sales, and Marketing</li>
          <li>Consumer Products</li>
          <li>Design & Architecture</li>
          <li>Education</li>
          <li>Finance, Investing, and Economics</li>
          <li>Food and Beverage</li>
          <li>Government & Non-Profits</li>
        </ul>
        <div class="button-container buttons-centered">
          <a href="#" class="button cta-button">Take an Action</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section work-section">
  <div class="container">
    <div class="work-section-heading">
      <h2>Our weekly bandwidth is more than 15,000 words!</h2>
      <p>Here’s how we’ve used some of them</p>
    </div>
    <div class="work-section-examples glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="work-examples glide__slides">
          <li class="work-example glide__slide">
            <figure>
              <img src="https://via.placeholder.com/600x400">
            </figure>
          </li>
          <li class="work-example glide__slide">
            <figure>
              <img src="https://via.placeholder.com/600x400">
            </figure>
          </li>
          <li class="work-example glide__slide">
            <figure>
              <img src="https://via.placeholder.com/600x400">
            </figure>
          </li>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section testimonial-section">
  <div class="container">
    <h2>We think the world of our clients</h2>
    <ul class="reviews">
      <li class="review">
        <figure class="review-content">
          <blockquote>“Wow. Jennifer, you are a born editor! Thank you for proofing this work and the amazing turnaround time. Solid proofreading and feedback in such a short amount of time! Thank you so much!”</blockquote>
          <figcaption>Mansura Ghaffar, MGhaffar LLC, December 2020</figcaption>
        </figure>
      </li>
      <li class="review">
        <figure class="review-content">
          <blockquote>“Wow. Jennifer, you are a born editor! Thank you for proofing this work and the amazing turnaround time. Solid proofreading and feedback in such a short amount of time! Thank you so much!”</blockquote>
          <figcaption>Mansura Ghaffar, MGhaffar LLC, December 2020</figcaption>
        </figure>
      </li>
    </ul>
    <div class="button-container buttons-centered">
      <a href="#" class="button cta-button">Take an Action</a>
    </div>
  </div>
</section>